spring:
  application:
    name: spring-batch-alibou
  datasource:
    url: jdbc:postgresql://localhost:5432/file-upload
    username: maveldev
    password: mavelpass
    driver-class-name: org.postgresql.Driver

  jpa:
    hibernate:
      ddl-auto: create-drop
      naming:
        physical-strategy: org.hibernate.boot.model.naming.PhysicalNamingStrategyStandardImpl
    show-sql: false
    properties:
      hibernate:
        format-sql: true
        dialect: org.hibernate.dialect.PostgreSQLDialect
    database: postgresql
    database-platform: org.hibernate.dialect.PostgresSQLDialect

  batch:
    jdbc:
      initialize-schema: always
    job:
      enabled: false
server:
  port: 9099
